%link{:href => "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css", :rel => "stylesheet"}
%link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css", :rel => "stylesheet"}
%link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
%link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css", :rel => "stylesheet"}

- title, categories = octopress_parse(@post_path, params[:post])
%title 编辑博文

.container
  .row
    .col-sm-12{style: "text-align:center;"}
      .loading.hidden 加载中...
      = flash_message

  .row
    .span11.offset1
      .row{style: "margin: 10px 0px;"}
        .span8
          %h2= "编辑[#{title}]"

        .span2{style: "margin-top: 20px;"}
          %a.right.btn.btn-default{href: "/admin/blogs/show?post=#{params[:post]}",  "data-toggle" => "tooltip", "data-original-title" => "查看该博文"}
            %span.icon-eye-open
          %a.right.btn.btn-default{href: "/admin/blogs", "data-toggle" => "tooltip", "data-original-title" => "返回博文列表"}
            %span.icon-list
          %a.right.btn.btn-default{"data-toggle" => "modal", "data-target" => "#modalMarkdownCheatsheet"}
            %span.icon-question-sign

  .row
    .span8.offset1
      %form.form-horizontal{"accept-charset" => "UTF-8", :action => "/admin/blogs/update", :method => "post", :style => "display:inline;width:100px;"}
        = haml :"_toolbar", layout: false
        %input{name: "post", value: "#{params[:post]}", type: "hidden"}
        %textarea#editor{name: "content", contenteditable: "true", style: "width:100%;height:100%;"}= @content
        %pre.hidden= @content
        %input.btn.btn-primary{type: "submit", style: "float:right;"}

    .span3{style: "margin-left:15px;"}
      %iframe{style: "height:650px;overflow-y:auto;overflow-x:none;border:0px;", src:"/admin/blogs/images?post=#{params[:post]}"}

%script{:src => "http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"}
%script{:src => "https://mindmup.s3.amazonaws.com/lib/jquery.hotkeys.js"}
%script{:src => "http://cdn.bootcss.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
= javascript_include_tag "http://solfie-cdn.qiniudn.com/jquery.zclip-1.1.1.min.js"
= javascript_include_tag "#{Settings.cdn.bootstrap_wysiwyg}"
= javascript_include_tag "/javascripts/blog.js"
:css
  .right {
    float: right;
  }
  #editor { 
    white-space: pre-wrap;
    overflow: scroll; 
    min-height:200px;
    max-height: 600px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
  }

:javascript
  $(function(){
    $("#editor").wysiwyg();
    $("#editor").html($("pre").html());
    $("body").tooltip({selector: "a[data-toggle=tooltip]"});
  })

= haml :"_markdown_cheatsheet", layout: false
