    <%= javascript_include_tag "/javascripts/home.js" %>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>在路上!</span> 一起发现最适合自己的好茶.</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2>留下邮箱，有新消息会通知您</h2>
              <form accept-charset="UTF-8" action="/subscribe" class="form-inline col-sm-12" method="post" role="form">
                <input id="subscribe" type="text" name="email" placeholder="you@yourmail.com" class="cform-text" size="40" title="your email">
                <input type="submit" value="通知我" class="cform-submit">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="span12"><!--******
              <ul class="icon">
                <li><a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>
              </ul>***********-->
            </div>
          </div>
        </div>
      </header>
    </div>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>在发现好茶的途中</p>
                <p>结朋交友</p>
                <p>我们一起品味和发现最适合自己的茶饮</p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>
    <!--******************** Our Story Section ********************-->
    <section id="ourstory" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-popup" style="color: #1d3e10;"></i></div>
        <h1>关于我喝茶</h1>
        <!-- Four columns -->
        <div class="row">
          <div class="span3">
            <div class="align"> <i class="icon-target sev_icon"></i> </div>
            <h2>找茶</h2>
            <p>对爱茶的人来说，旅途并不辛苦，茶叶市场、茶园、茶友家、茶艺课堂...都是我们搜寻的好地方。</p>
          </div>
          <!-- /.span3 -->
          <div class="span3">
            <div class="align"> <i class="icon-right-circled sev_icon"></i> </div>
            <h2>学茶</h2>
            <p>原本的一窍不通，因喜爱而开始学习，勤品茗，读茶书，会茶人，乐此不疲。</p>
          </div>
          <!-- /.span3 -->
          <div class="span3">
            <div class="align"> <i class="icon-lastfm sev_icon"></i> </div>
            <h2>品茶</h2>
            <p>邀您品鉴我们发现的好茶，茶是生命惊喜的邀请，而人生是一场又一场美丽的茶宴。</p>
          </div>
          <!-- /.span3 -->
          <div class="span3">
            <div class="align"> <i class="icon-chat sev_icon"></i> </div>
            <h2>茶友记</h2>
            <p>朋友间真正的对话是无声的。并非话语，好朋友简简单单，好情谊清清爽爽。</p>
          </div>
          <!-- /.span3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <!--******************** BrandStory Section ********************-->
    <section id="brandstory" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-map" style="color: #1d3e10;"></i></div>
        <h1 id="folio-headline">品牌故事</h1>
        <div class="row">
          <div class="span4">
            <div class="mask2"> <a href="./images/brand1-ren.jpg" rel="prettyPhoto"><img src="./images/brand1-ren.jpg" alt=""></a> </div>
            <div class="inside">
              <hgroup>
              </hgroup>
              <div class="entry-content">
                <p>从小学五年级开始喝茶，喝到现在有二十多年了，我还是不懂茶。因为“人在草木间”是茶，而茶是在天地间的。但是我真的爱喝茶，源于它带给我的一丝感悟。</p>
              </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="./images/brand2-zai.jpg" rel="prettyPhoto"><img src="./images/brand2-zai.jpg" alt=""></a> </div>
            <div class="inside">
              <hgroup>
              </hgroup>
              <div class="entry-content">
                <p>我是一个漂泊的人，生在陕西，大学毕业后就东奔西跑，从宁夏跑到西安，从西安跑到上海，就是想发现更好的工作机会。我觉得自己一直在路上。</p>
              </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="./images/brand3-cao.jpg" rel="prettyPhoto"><img src="./images/brand3-cao.jpg" alt=""></a> </div>
            <div class="inside">
              <hgroup>
              </hgroup>
              <div class="entry-content">
                <p>在路上，我刚开始总理解为是去发现不同的天地，后来，我才渐渐明白，不论到哪里，不过是远远地重新发现自己、丰富自己。然而，我也天天唱着凡人歌，面对自己的各种烦恼。</p>
              </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
        
        <div class="row">
          <div class="span4">
            <div class="mask2"> <a href="./images/brand4-mu.jpg" rel="prettyPhoto"><img src="./images/brand4-mu.jpg" alt=""></a> </div>
            <div class="inside">
              <hgroup>
              </hgroup>
              <div class="entry-content">
                <p>幸而有余。无论多么繁忙，无论心情多么糟糕，我每天都要抽出一会时间喝茶。随着茶水冲出来，我的心便会立刻安静。这份欣喜是喝茶带给我的。</p> 
              </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="./images/brand5-jian.jpg" rel="prettyPhoto"><img src="./images/brand5-jian.jpg" alt=""></a> </div>
            <div class="inside">
              <hgroup>
              </hgroup>
              <div class="entry-content">
                <p>因为在茶的心境里，我们行走在天地间。于是“我喝茶”团队诞生了。凝聚在一起，发现更加适合自己的好茶，并把它们献给爱茶的你们，</p> 
              </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="./images/brand6-whc.jpg" rel="prettyPhoto"><img src="./images/brand6-whc.jpg" alt=""></a> </div>
            <div class="inside">
              <hgroup>
              </hgroup>
              <div class="entry-content">
                <p>我们是一群爱喝茶的人。并相信，生活中最适合自己的茶就是最好的茶。我们致力于不断地发现好茶。生活很美，让我们一起去发现</p>
              </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <!--******************** Testimonials Section ********************-->
    <!--*
    <section id="testimonials" class="single-page hidden-phone">
      <div class="container">
        <div class="row">
          <div class="blockquote-wrapper">
            <blockquote class="mega">
              <div class="span4">
                <p class="cite">我喝茶 &amp; 小伙伴:</p>
              </div>
              <div class="span10">
                <p class="alignright">"我们是一群爱喝茶的人。我们无茶不欢。我们相信，生活中最适合自己的茶就是最好的茶。我们致力于不断地发现好茶。生活很美，让我们一起去发现。"</p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    <hr>
    ****-->
    <!--******************** News Section ********************-->
    <section id="news" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-link" style="color: #1d3e10;"></i></div>
        <h1>茶品推荐</h1>
        <!-- Three columns -->
        <!-- /.row -->
        <% @teas.each_slice(3) do |row| %>
        <div class="row">
          <% row.each do |tea| %>
          <article class="span4 post"> <img class="img-news" src="./images/<%= tea.image %>" alt="">
            <div class="inside">
              <p class="post-date"><i class="icon-calendar"></i> <%= tea.market.strip if tea.market %></p>
              <h2><%= tea.name %></h2>
              <div class="entry-content">
                <p></p>
                <p><%= tea.from %> </br><%= "价格：#{tea.price} #{tea.unit1}／#{tea.unit2}；   净重：#{tea.weight.to_i}#{tea.unit3}" %></p>
                <p><%= tea.desc %></p>
                  <a href="<%= tea.blog %>" class="more-link"><%= Settings.post.readmore %></a>
                  <a href="/cart?tea=<%= tea.id %>" class="more-link" style="float:right;margin-top:0px;"><%= Settings.post.add_to_shopcart %></a>
              </div>
            </div>
            <!-- /.inside -->
          </article>
          <!-- /.span4 -->
          <% end %>
        </div>
        <% end %>
        <a href="http://wiki.wohecha.cn" class="btn btn-large">喝茶日志</a> </div>
      <!-- /.container -->
    </section>

   </hr> 
















