-# coding: UTF-8
!!!
%html
  %head
    %title= [Settings.website.title, Settings.website.slogan].join(" | ")
    %meta{"http-equiv" => "content-type", content: "text/html", charset: "UTF-8"}
    %link{href: "#{Settings.website.favicon}", rel: "shortcut icon"}
    = javascript_include_tag "/javascripts/jquery-2.1.1.min.js"
    = javascript_include_tag "/javascripts/bootstrap.320.min.js"
    = javascript_include_tag "/javascripts/nprogress.js"
    = javascript_include_tag "/javascripts/application.js"
    = stylesheet_link_tag "/stylesheets/bootstrap.320.min.css"
    = stylesheet_link_tag "/stylesheets/nprogress.css"
    = stylesheet_link_tag "/stylesheets/application.scss"
    -if mobile? or (params = params || {} and params[:template] == "mobile_cart")
      %meta{:content => "no", :name => "apple-mobile-web-app-capable"}
      %meta{:content => "True", :name => "HandheldFriendly"}/
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
      :css
        body {
          max-width: 1000px;
          min-width:300px;
        }
  %body{style: "background:#f0f0f0;"}
    = haml :"../layouts/_cpanel_header" unless @without_header and @without_header == true
    .container
      .row
        .col-sm-12{style: "text-align:center;"}
          .loading.hidden 加载中...
          = flash_message
      .row
        - if mobile?
          .col-sm-12
            = yield
        - else
          .col-sm-10.col-sm-offset-1
            = yield

    .container
      .row.center
        .footer= "微信号: " + Settings.contact.weixin
        .footer &copy; 2014 wohecha.cn


