%h1 订单明细

%table.table.table-hover.table-bordered
  - skips = ["@_repository", "@_persistence_state", "@id", "@sign"]
  - @transaction.instance_variables.each do |var|
    - next if (value = @transaction.instance_variable_get(var)).nil?
    %tr
      %td= var.to_s.gsub("@", "")
      %td= value

%table.table.table-hover.table-bordered
  %tr
    %td out_trade_no
    %td= @order.out_trade_no
  %tr
    %td quantity
    %td= @order.quantity
  %tr
    %td amount
    %td= @order.amount
  - products = JSON.parse("["+@order.detail+"]")
  %tr
    %td 商品列表
    %td= products.count.to_s + "种"

  - products.each do |p|
    %tr
      %td= p["name"]
      %td= p["price"].to_s + "元 x " + p["quantity"].to_s
